<div class="flickr-view">
	<h1>Flickr App</h1>

  <!--<form data-ng-submit="search()" novalidate>-->

    <!--<input type="text" name="searchInput"-->
           <!--ng-model="flickrCtrl.searchInput"-->
           <!--ng-model-options="{ updateOn: 'blur'}">-->

  <!--</form>-->

  <div class="row" data-ng-repeat="item in flickrCtrl.flickrData.photo"
   >
    <p>{{ item.title }}</p>

    <p><strong>{{ item.id }}</strong></p>
    <p><strong>{{ item.owner }}</strong></p>

    <img data-ng-src="https://{{ flickrCtrl.photoData.photo }}"/>

    <img ng-src="https://{{ flickrCtrl.results.photo }}"/>

    <!--<img ng-src="http://{{ flickrCtrl.imageSRc }}"/>-->

    <!--<img data-ng-src="https://farm{{flickrCtrl.farm}}.staticflickr.com/{{flickrCtrl.server}}/{{flickrCtrl.id}}_{{flickrCtrl.secret}}_b.jpg" alt=""/>-->

    <!--<img data-ng-src="{{ item.results.photo.urls.url[0]._content }}" alt=""/>-->
    <p>{{ flickrCtrl.imageSRc }}</p>
  </div>

  <h1>Yo</h1>
  <div data-ng-repeat="item in flickrCtrl.photoData.photo" class="row">
    <img ng-src="https://{{ flickrCtrl.imageSRc }}"/>
    <img data-ng-src="https://farm{{flickrCtrl.farm}}.staticflickr.com/{{flickrCtrl.server}}/{{flickrCtrl.id}}_{{flickrCtrl.secret}}_b.jpg" alt=""/>

    <p>{{ flickrCtrl.imageSRc }}</p>
  </div>

  <p>{{ flickrCtrl.imageSRc }}</p>


</div>




